.prim-main {
   background-color: lightgray;
   height: calc(100vh - 4rem);
   padding: 2rem 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
}

.grapharea {
   align-items: center;
   justify-content: center;
}

.column {
   flex: 1 1 auto;
   align-self: stretch;
   width: 50%;
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
}

.textarea {
   align-items: center;
   /* justify-content: flex-start; */
   padding: 0.5rem;
}

.textarea h2 {
   text-align: center;
   margin-bottom: 0.25rem;
}

.textarea p {
   margin: 0.5rem;
   margin-bottom: 1rem;
}

.buttonarea {
   padding: 2rem;
}
